<% provide(:title, 'Sign up') %>
<h2>Sign up</h2>
<%=form_for @user do |f| %>
<%= f.label :name %>
<%= f.name_field :name %>
<%= f.label :email %>
<%= f.email_field :email %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.password_field :password_confirmation %>
<%= f.submit "Create my account" %>
