<header class="navbar navbar-fixed-top navbar-inverse">
<<<<<<< HEAD
<div class="container">
	<%= link_to "Double app" %>
	<nav>
		<ul class="nav navbar-nav navbar-right">

			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", static_pages_About_path %></li>
			<li><%= link_to "Contacts", static_pages_Contacts_path %></li>
			<li><%= link_to "Help", static_pages_Help_path %></li>

		</ul>
	</nav>
</div>
</header>
=======
    <div class="container">
        <%= link_to "Double app" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">

                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Contacts", contacts_path %></li>
                <li><%= link_to "Help", help_path %></li>

            </ul>
        </nav>
    </div>
</header>
>>>>>>> static_pages
